body {
    background: linear-gradient(135deg, #8a2be2, #9370db);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 300px;
    text-align: center;
}

.container h1 {
    color: white;
    margin-bottom: 30px;
}

.container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #6a0dad;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}

.container .signup-link {
    color: white;
    margin-bottom: 20px;
}

.container .signup-link a {
    color: #b19cd9;
    text-decoration: none;
}

.container .buttons button {
    background-color: #6a0dad;
    margin-bottom: 10px;
}

.container .logo img {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px;
}